<!DOCTYPE html>
<html>
<head>
<title>CarWorld</title>
<link rel="stylesheet" href="/static/style.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
<div class="container">
<a class="navbar-brand" href="/">🚗 CarWorld</a>
<div>
<a class="nav-link text-white" href="/cars">Cars</a>
<a class="nav-link text-white" href="/contact">Contact</a>
</div>
</div>
</nav>

<div class="container mt-4">
{% block content %}{% endblock %}
</div>

</body>
</html>


